<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <style>
        .navbar {
            margin-bottom: 0px;
            border-radius: 0px;
        }
    </style>
    <title>{% block title%} {% endblock title%}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4648bb;">
        <a class="navbar-brand " href="# ">Django Demonstration</a>
    </nav>

    {% if messages %} {% for message in messages %}
    <div class="alert alert-success" role="alert" id="msg">
        <h4>{{message}}</h4>
    </div>{% endfor %} {% endif %} {% block body%} {% endblock body%}
    
</body>
</html>