{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block body %} 
<h3 class="text-area" style="text-align:center;"><b>User Profile</b></h3>
<form method="post" action=" " class="ml-4">
    {% csrf_token %}
    {% for record in data %}

        <div class="col-sm-6 mb-3">
            <div class="card">   
                <div class="card-body m-2 w-75">
                    <p> Name : {{record.name}}</p>
                    <p> Email: {{record.email}}</p>
                    <p> Decrypted Password : {{record.password}}</p>
                </div>
            </div>
        </div>
   
    {% endfor %}
    <div class="ml-4">
        <button class="btn btn-success" formaction="{% url 'userlogout' %}">Logout</button>
        <button class="btn btn-success" formaction="{% url 'changepass' %}">Change Password</button>
    </div>
</form>

<script>

</script>
{%endblock body%}